:root {
  --primary-blue: #00a5f4;
  --button-bg-color: lightgray;
  --button-border-color: white;
  --button-hover-border-color: lightblue;
  --button-selected-border-color: var(--primary-blue);
  --button-size: 64px;
  --button-border-radius: 16px;
  --button-border-size: 4px;

  --button-outer-border-size: 4px;
  --button-outer-border-offset: -6px;
  --button-outer-border-radius: calc(var(--button-border-radius) * 1.1);

  --font-weight-not-bold-heading: 400;
  --font-weight-bold-heading: 600;
}

body {
  background-color: var(--main-bg-color);
}

body {
  margin: 0;
}

* {
  font-family: sans-serif;
  font-size: 12pt;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

#root {
  display:flex;
  flex-direction: column;
}

.selector {
  overflow: auto;
  padding: 32px 64px;
  width: 45%;
}

.main {
  display: flex;
  overflow: hidden;
}

#sceneContainer {
  position: relative;
  width: 55%;
}

button,
label {
  margin: 3px;
}

label {
  display: block;
}

.categoryHeading {
  margin: 12px 0px;
  display: flex;
  flex-flow: row no-wrap;
}

.categoryHeading h2 {
  margin: 0 12px 0 0px;
}

.categoryHeading .categoryName {
  font-weight: var(--font-weight-not-bold-heading);
}
.categoryHeading .selectedPartName {
  font-weight: var(--font-weight-bold-heading);
}

.partSelector {
  margin-bottom: 40px;
}

.avatarPartButton {
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--button-bg-color);
  border-radius: var(--button-border-radius);
  border: var(--button-border-size) solid;
  border-color: var(--button-border-color);
  position: relative;
  outline: none;
  background-size: contain;
}
.avatarPartButton:after {
  content: '';
  display: block;
  position: absolute;
  top: var(--button-outer-border-offset);
  bottom: var(--button-outer-border-offset);
  left: var(--button-outer-border-offset);
  right: var(--button-outer-border-offset);
  border-radius: var(--button-outer-border-radius);
  border: none;
}

.avatarPartButton:focus:after,
.avatarPartButton:hover:after {
  border: var(--button-outer-border-size) solid;
  border-color: var(--button-hover-border-color);
}

.avatarPartButton.selected:after {
  border: var(--button-outer-border-size) solid;
  border-color: var(--button-selected-border-color);
}

.toolbar {
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  background-color: #f5f5f5;
  border-top: 2px solid lightgrey;
}

.toolbar button, .toolbar .uploadButton {
  display: inline;
  background-color: white;
  border-radius: var(--button-border-radius);
  border: 2px solid grey;
  color: grey;
  font-size: 10pt;
  padding: 22px;
  font-weight: bold;
}
.toolbar button:hover,
.toolbar button:focus,
.toolbar .uploadButton:hover,
.toolbar .uploadButton:focus {
  background-color: lightgrey;
}

button.primary {
  background-color: var(--primary-blue);
  border-color: var(--primary-blue);
  color: white;
}
button.primary:hover,
button.primary:focus {
  background-color: lightblue;
  border-color: lightblue;
}

.toolbar .uploadButton input {
  display: none;
}

.appName {
  flex: 1;
  font-size: 24pt;
  display: flex;
  align-items: center;
}

@keyframes wave {
  from { background-position-y: 0 }
  to { background-position-y: 400px; }
}

.waveContainer {
  position: absolute;
  width: 200px;
  height: 100%;
  animation: wave 3s infinite;
  animation-timing-function: cubic-bezier(.2,.52,.79,.49);
  /* Move 1 pixel to the left to workaround rendering issue in FF linux */
  left: -1px;
}
